In [ ]:
# **Python para análise de dados(Pandas)**  utilizando o Excel

In [1]:
import pandas as pd

In [7]:
df1 = pd.read_excel("Fortaleza.xlsx")
df2 = pd.read_excel("Recife.xlsx")

In [9]:
#Juntando os arquivos
df = pd.concat([df1, df2])

In [10]:
#% primeiras linhas
df.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [11]:
#% linhas aleatórias
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
73   Fortaleza 2019-01-01    3.10    1003     5
50      Recife 2019-01-01    7.24     983     4
109     Recife 2019-03-02   18.90     982     6
19      Recife 2019-01-01  199.43     983     7
76      Recife 2019-01-01   17.86     980     5